# --- فایل‌های پایتون و محیط اجرا ---
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
.env

# --- فایل‌های پروژه خودت (دیتابیس و خروجی‌ها) ---
# چون این‌ها محلی هستند و نباید در گیت‌هاب باشند:
data/
exports/

# --- تنظیمات IDE و سیستم عامل ---
.vscode/
.idea/
.DS_Store
Thumbs.db
